.navbar{
    height:7vh;
    width:100vh;
    z-index: 0;
}
.line{
    border: none;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    margin: auto;
}
.baricon{
    padding: 20px;
    transform: scale(1.8);
    cursor: pointer;
}
.baricon:active{
    color: rgb(211, 211, 211);
}